nodered_flow.json
[{"id":"fc6f6c8e.bb85e","type":"function","z":"c803e7.739fe418","name":"check hash","func":"String.prototype.hashCode = function() {\n\tif (this.length === 0) {\n\t\treturn 0;\n\t} else {\n\t\treturn parseInt(this.split('').map(function(char) {\n\t\t\treturn char.charCodeAt(0);\n\t\t}).reduce(function(current, previous) {\n\t\t\treturn previous + current;\n\t\t}))+100000;\n\t}\n};\n\nhash = (msg.payload.transaction.hashCode() + parseInt(msg.payload.nonce)) % 25000000\nif (hash === 0) {\n\tmsg.payload.status=\"accept\";\n} else {\n\tmsg.payload.status=\"reject\";\n\tmsg.payload.hash=hash;\n\tmsg.payload.hashcode=msg.payload.transaction.hashCode();\n}\nreturn msg;","outputs":1,"noerr":0,"x":399,"y":200,"wires":[["782d0398.1f8214","ebda4e5a.5a10d8"]]},{"id":"782d0398.1f8214","type":"switch","z":"c803e7.739fe418","name":"status==accept?","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"accept","vt":"str"}],"checkall":"true","outputs":1,"x":621.5,"y":292.5,"wires":[["23aa950f.6dfcf2"]]},{"id":"cf344a05.3e132","type":"http in","z":"c803e7.739fe418","name":"","url":"/distributeTransaction","method":"get","upload":false,"swaggerDoc":"","x":139,"y":368,"wires":[["61ee6ff4.c86ba8","8925130b.a88c58"]]},{"id":"61ee6ff4.c86ba8","type":"http response","z":"c803e7.739fe418","name":"","x":854,"y":366.5,"wires":[]},{"id":"23aa950f.6dfcf2","type":"cloudant out","z":"c803e7.739fe418","name":"","cloudant":"","database":"nodechain","service":"nodechain-cloudantNoSQLDB","payonly":true,"operation":"insert","x":850,"y":260,"wires":[]},{"id":"8925130b.a88c58","type":"ibmiot out","z":"c803e7.739fe418","authentication":"quickstart","apiKey":"23d263c8.dde8b4","outputType":"evt","deviceId":"nodechain","deviceType":"0.17.5","eventCommandType":"blockchain","format":"json","data":"payload","qos":0,"name":"IBM IoT","service":"quickstart","x":620,"y":400,"wires":[]},{"id":"593e5eaa.b40dc8","type":"ibmiot in","z":"c803e7.739fe418","authentication":"quickstart","apiKey":"23d263c8.dde8b4","inputType":"evt","deviceId":"nodechain","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":200,"wires":[["fc6f6c8e.bb85e"]]},{"id":"ebda4e5a.5a10d8","type":"debug","z":"c803e7.739fe418","name":"","active":true,"console":"false","complete":"false","x":832.5,"y":199.5,"wires":[]},{"id":"23d263c8.dde8b4","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"21uc7z.internetofthings.ibmcloud.com","cleansession":true,"appId":"dummyappid","shared":false}]
