nodered_flow.json
[{"id":"fc6f6c8e.bb85e","type":"function","z":"c803e7.739fe418","name":"check hash","func":"String.prototype.hashCode = function() {\n\tif (this.length === 0) {\n\t\treturn 0;\n\t} else {\n\t\treturn parseInt(this.split('').map(function(char) {\n\t\t\treturn char.charCodeAt(0);\n\t\t}).reduce(function(current, previous) {\n\t\t\treturn previous + current;\n\t\t}))+100000;\n\t}\n};\n\nhash = (msg.payload.transaction.hashCode() + parseInt(msg.payload.nonce)) % 25000000\nif (hash === 0) {\n\tmsg.payload.status=\"accept\";\n} else {\n\tmsg.payload.status=\"reject\";\n\tmsg.payload.hash=hash;\n\tmsg.payload.hashcode=msg.payload.transaction.hashCode();\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["782d0398.1f8214","ebda4e5a.5a10d8"]]},{"id":"782d0398.1f8214","type":"switch","z":"c803e7.739fe418","name":"status==accept?","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"accept","vt":"str"}],"checkall":"true","outputs":1,"x":612.5,"y":272.5,"wires":[["23aa950f.6dfcf2"]]},{"id":"cf344a05.3e132","type":"http in","z":"c803e7.739fe418","name":"","url":"/distributeTransaction","method":"get","upload":false,"swaggerDoc":"","x":130,"y":348,"wires":[["61ee6ff4.c86ba8","8925130b.a88c58"]]},{"id":"61ee6ff4.c86ba8","type":"http response","z":"c803e7.739fe418","name":"","x":845,"y":346.5,"wires":[]},{"id":"8239da88.9f076","type":"http in","z":"c803e7.739fe418","name":"","url":"/makeTransaction","method":"get","swaggerDoc":"","x":130.5,"y":539.5,"wires":[["d80f7058.de9708"]]},{"id":"1e10bbd9.529414","type":"http response","z":"c803e7.739fe418","name":"","x":499,"y":541,"wires":[]},{"id":"d80f7058.de9708","type":"template","z":"c803e7.739fe418","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<script lang=\"JavaScript\">\nString.prototype.hashCode = function() {\n\tif (this.length == 0) {\n\t\treturn 0;\n\t} else {\n\t\treturn parseInt(this.split('').map(function(char) {\n\t\t\treturn char.charCodeAt(0);\n\t\t}).reduce(function(current, previous) {\n\t\t\treturn previous + current;\n\t\t}))+100000\n\t}\n};\n    \nconsole.log(\"test\".hashCode())\n    \n    \ndocument.addEventListener('DOMContentLoaded', function() {\n    document.getElementById(\"tx\").value = \"\"\n    document.getElementById(\"txn\").value = \"\"\n}, false);\n\n    \nfunction submitTransaction() {\n    var xhttp = new XMLHttpRequest()\n\n    xhttp.onreadystatechange = function() {\n        if (this.readyState == 4 && this.status == 200) {\n            console.log('received')\n            console.log(this.response)\n            //document.getElementById(\"txn\").value = JSON.parse(this.response).nonce\n        }\n    } \n    \n    transaction = document.getElementById(\"tx\").value\n    nonce = document.getElementById(\"txn\").value\n    xhttp.open(\"GET\", \"distributeTransaction?transaction=\"+transaction+\"&nonce=\"+nonce, true)\n    xhttp.send()\n}\n\nfunction createTransactionHash() {\n    document.getElementById(\"status\").innerHTML = \"Hashing started\"\n    document.getElementById(\"cth\").disabled = true\n    \n       \n    \n    transaction = document.getElementById(\"tx\").value\n    \n    \n\n    tsstart = new Date().getTime();\n    nonce = 0;\n    while (true) {\n\t   hash = (transaction.hashCode() + nonce) % 25000000;\n\t   if (hash == 0) {\n\t\t  break;\n\t   }\n\t   nonce++;\n    }\n    tsstop = new Date().getTime()\n    cost = tsstop - tsstart\n\n    document.getElementById(\"txn\").value = nonce\n    document.getElementById(\"status\").innerHTML = \"Hashing finished after \"+cost+\"ms\"\n    document.getElementById(\"cth\").disabled = false\n}\n</script>\n<body>\n    <center>\n        <h1>NODEChain Transaction Creation and Submission tool</h1>\n\t   <table>\n            <tr>\n                <td>Transaction:</td>\n                <td><input type=\"text\" name=\"transaction\" id=\"tx\"></td>\n            </tr>\n            <tr>\n                <td>Nonce:</td>\n                <td><input type=\"text\" name=\"nonce\" id=\"txn\"></td>\n            </tr>\n            <tr>\n                <td colspan=\"2\">\n                    <input type=\"button\" id=\"cth\" value=\"Create Transaction Hash\" onclick=\"createTransactionHash()\">\n                    <input type=\"button\" value=\"Submit Transaction\" onclick=\"submitTransaction()\">\n                </td>\n            </tr>\n        </table>\n        <p id=\"status\"></p>\n    </center>\n</body>\n</html>","x":334.5,"y":539.5,"wires":[["1e10bbd9.529414"]]},{"id":"9cf670af.6a49f","type":"function","z":"c803e7.739fe418","name":"RSA","func":"p = 29\nq = 31\nn = p * q\nt = (p - 1) * (q - 1)\n\ne = 1\n\nwhile (true) {\n    if (t % e === 0) {\n        e++\n    } else {\n        break;\n    }\n}\n\nd = 1\n\nwhile (true) {\n    if ((d * e) % t !== 1) {\n        d++\n    } else {\n        break;\n    }\n}\n\nmsg.payload = {\n    'n': n,\n    't': t,\n    'e': e,\n    'd': d\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":435,"y":596.75,"wires":[["ec467715.d7746"]]},{"id":"deaa1a7f.01d598","type":"inject","z":"c803e7.739fe418","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":232,"y":631.25,"wires":[["9cf670af.6a49f","ec467715.d7746"]]},{"id":"ec467715.d7746","type":"debug","z":"c803e7.739fe418","name":"","active":true,"console":"false","complete":"true","x":600,"y":638.5,"wires":[]},{"id":"23aa950f.6dfcf2","type":"cloudant out","z":"c803e7.739fe418","name":"","cloudant":"","database":"nodechain","service":"nodechain-cloudantNoSQLDB","payonly":true,"operation":"insert","x":841,"y":240,"wires":[]},{"id":"8925130b.a88c58","type":"ibmiot out","z":"c803e7.739fe418","authentication":"quickstart","apiKey":"23d263c8.dde8b4","outputType":"evt","deviceId":"nodechain","deviceType":"0.17.5","eventCommandType":"blockchain","format":"json","data":"payload","qos":0,"name":"IBM IoT","service":"quickstart","x":611,"y":380,"wires":[]},{"id":"593e5eaa.b40dc8","type":"ibmiot in","z":"c803e7.739fe418","authentication":"quickstart","apiKey":"23d263c8.dde8b4","inputType":"evt","deviceId":"nodechain","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":121,"y":180,"wires":[["fc6f6c8e.bb85e"]]},{"id":"ebda4e5a.5a10d8","type":"debug","z":"c803e7.739fe418","name":"","active":true,"console":"false","complete":"false","x":823.5,"y":179.5,"wires":[]},{"id":"23d263c8.dde8b4","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"21uc7z.internetofthings.ibmcloud.com","cleansession":true,"appId":"dummyappid","shared":false}]
