nodered_flow_rsa.json
[{"id":"fc6f6c8e.bb85e","type":"function","z":"c803e7.739fe418","name":"check hash","func":"String.prototype.hashCode = function() {\n\tif (this.length === 0) {\n\t\treturn 0;\n\t} else {\n\t\treturn parseInt(this.split('').map(function(char) {\n\t\t\treturn char.charCodeAt(0);\n\t\t}).reduce(function(current, previous) {\n\t\t\treturn previous + current;\n\t\t}))+100000;\n\t}\n};\n\nhash = (msg.payload.transaction.hashCode() + parseInt(msg.payload.nonce)) % 25000000\nif (hash === 0) {\n\tmsg.payload.status=\"accept\";\n} else {\n\tmsg.payload.status=\"reject\";\n\tmsg.payload.hash=hash;\n\tmsg.payload.hashcode=msg.payload.transaction.hashCode();\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["782d0398.1f8214","ebda4e5a.5a10d8"]]},{"id":"782d0398.1f8214","type":"switch","z":"c803e7.739fe418","name":"status==accept?","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"accept","vt":"str"}],"checkall":"true","outputs":1,"x":612.5,"y":272.5,"wires":[["23aa950f.6dfcf2"]]},{"id":"cf344a05.3e132","type":"http in","z":"c803e7.739fe418","name":"","url":"/distributeTransaction","method":"get","upload":false,"swaggerDoc":"","x":130,"y":348,"wires":[["61ee6ff4.c86ba8","8925130b.a88c58","80726673.5f8e5"]]},{"id":"61ee6ff4.c86ba8","type":"http response","z":"c803e7.739fe418","name":"","x":845,"y":346.5,"wires":[]},{"id":"8239da88.9f076","type":"http in","z":"c803e7.739fe418","name":"","url":"/makeTransaction","method":"get","swaggerDoc":"","x":130.5,"y":539.5,"wires":[["d80f7058.de9708"]]},{"id":"1e10bbd9.529414","type":"http response","z":"c803e7.739fe418","name":"","x":499,"y":541,"wires":[]},{"id":"d80f7058.de9708","type":"template","z":"c803e7.739fe418","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<script lang=\"JavaScript\">\nString.prototype.hashCode = function() {\n\tif (this.length == 0) {\n\t\treturn 0;\n\t} else {\n\t\treturn parseInt(this.split('').map(function(char) {\n\t\t\treturn char.charCodeAt(0);\n\t\t}).reduce(function(current, previous) {\n\t\t\treturn previous + current;\n\t\t}))+100000\n\t}\n};\n    \nconsole.log(\"test\".hashCode())\n    \n    \ndocument.addEventListener('DOMContentLoaded', function() {\n    document.getElementById(\"tx\").value = \"\"\n    document.getElementById(\"txn\").value = \"\"\n}, false);\n\n    \nfunction submitTransaction() {\n    var xhttp = new XMLHttpRequest()\n\n    xhttp.onreadystatechange = function() {\n        if (this.readyState == 4 && this.status == 200) {\n            console.log('received')\n            console.log(this.response)\n            //document.getElementById(\"txn\").value = JSON.parse(this.response).nonce\n        }\n    } \n    \n    transaction = document.getElementById(\"tx\").value\n    nonce = document.getElementById(\"txn\").value\n    xhttp.open(\"GET\", \"distributeTransaction?transaction=\"+transaction+\"&nonce=\"+nonce, true)\n    xhttp.send()\n}\n\nfunction createTransactionHash() {\n    document.getElementById(\"status\").innerHTML = \"Hashing started\"\n    document.getElementById(\"cth\").disabled = true\n    \n       \n    \n    transaction = document.getElementById(\"tx\").value\n    \n    \n\n    tsstart = new Date().getTime();\n    nonce = 0;\n    while (true) {\n\t   hash = (transaction.hashCode() + nonce) % 25000000;\n\t   if (hash == 0) {\n\t\t  break;\n\t   }\n\t   nonce++;\n    }\n    tsstop = new Date().getTime()\n    cost = tsstop - tsstart\n\n    document.getElementById(\"txn\").value = nonce\n    document.getElementById(\"status\").innerHTML = \"Hashing finished after \"+cost+\"ms\"\n    document.getElementById(\"cth\").disabled = false\n}\n</script>\n<body>\n    <center>\n        <h1>NODEChain Transaction Creation and Submission tool</h1>\n\t   <table>\n            <tr>\n                <td>Transaction:</td>\n                <td><input type=\"text\" name=\"transaction\" id=\"tx\"></td>\n            </tr>\n            <tr>\n                <td>Nonce:</td>\n                <td><input type=\"text\" name=\"nonce\" id=\"txn\"></td>\n            </tr>\n            <tr>\n                <td colspan=\"2\">\n                    <input type=\"button\" id=\"cth\" value=\"Create Transaction Hash\" onclick=\"createTransactionHash()\">\n                    <input type=\"button\" value=\"Submit Transaction\" onclick=\"submitTransaction()\">\n                </td>\n            </tr>\n        </table>\n        <p id=\"status\"></p>\n    </center>\n</body>\n</html>","x":334.5,"y":539.5,"wires":[["1e10bbd9.529414"]]},{"id":"9cf670af.6a49f","type":"function","z":"c803e7.739fe418","name":"RSA","func":"p = 29\nq = 31\nn = p * q\nt = (p - 1) * (q - 1)\n\ne = 1\n\nwhile (true) {\n    if (t % e === 0) {\n        e++\n    } else {\n        break;\n    }\n}\n\nd = 1\n\nwhile (true) {\n    if ((d * e) % t !== 1) {\n        d++\n    } else {\n        break;\n    }\n}\n\nmsg.payload = {\n    'n': n,\n    't': t,\n    'e': e,\n    'd': d\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":435,"y":596.75,"wires":[["ec467715.d7746"]]},{"id":"deaa1a7f.01d598","type":"inject","z":"c803e7.739fe418","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":232,"y":631.25,"wires":[["9cf670af.6a49f","ec467715.d7746"]]},{"id":"ec467715.d7746","type":"debug","z":"c803e7.739fe418","name":"","active":true,"console":"false","complete":"true","x":600,"y":638.5,"wires":[]},{"id":"23aa950f.6dfcf2","type":"cloudant out","z":"c803e7.739fe418","name":"","cloudant":"","database":"nodechain","service":"nodechain-cloudantNoSQLDB","payonly":true,"operation":"insert","x":841,"y":240,"wires":[]},{"id":"8925130b.a88c58","type":"ibmiot out","z":"c803e7.739fe418","authentication":"quickstart","apiKey":"23d263c8.dde8b4","outputType":"evt","deviceId":"nodechain","deviceType":"0.17.5","eventCommandType":"blockchain","format":"json","data":"payload","qos":0,"name":"IBM IoT","service":"quickstart","x":611,"y":380,"wires":[]},{"id":"593e5eaa.b40dc8","type":"ibmiot in","z":"c803e7.739fe418","authentication":"quickstart","apiKey":"23d263c8.dde8b4","inputType":"evt","deviceId":"nodechain","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":121,"y":180,"wires":[["9a120e22.1a2438"]]},{"id":"ebda4e5a.5a10d8","type":"debug","z":"c803e7.739fe418","name":"","active":true,"console":"false","complete":"false","x":823.5,"y":179.5,"wires":[]},{"id":"5a0f9003.66722","type":"http in","z":"c803e7.739fe418","name":"","url":"/makeTransactionRSA","method":"get","upload":false,"swaggerDoc":"","x":150,"y":720,"wires":[["aea6dc4c.748bb"]]},{"id":"97210f1.d61f5f","type":"http response","z":"c803e7.739fe418","name":"","x":508.5,"y":721.5,"wires":[]},{"id":"aea6dc4c.748bb","type":"template","z":"c803e7.739fe418","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<script lang=\"JavaScript\">\n\n    \ndocument.addEventListener('DOMContentLoaded', function() {\n    document.getElementById(\"tx\").value = \"\"\n    document.getElementById(\"userid\").value = \"\"\n    document.getElementById(\"n\").value = \"\"\n    document.getElementById(\"e\").value = \"\"\n}, false);\n\n    \nvar modexp = function(a, b, n) {\n  a = a % n;\n  var result = 1;\n  var x = a;\n\n  while(b > 0){\n    var leastSignificantBit = b % 2;\n    b = Math.floor(b / 2);\n\n    if (leastSignificantBit == 1) {\n      result = result * x;\n      result = result % n;\n    }\n\n    x = x * x;\n    x = x % n;\n  }\n  return result;\n};\n    \nfunction enc(s,e,n) {\n    return s.split('').map(function(c) {\n        char_id = c.charCodeAt(0)\n        char_id_enc = modexp(char_id,e,n)\n        //Math.pow(char_id,e) % n\n        return char_id_enc\n        })\n}\n    \nfunction submitTransaction(transaction, transaction_prime, userid) {\n    var xhttp = new XMLHttpRequest()\n\n    xhttp.onreadystatechange = function() {\n        if (this.readyState == 4 && this.status == 200) {\n            console.log('received')\n            console.log(this.response)\n            //document.getElementById(\"txn\").value = JSON.parse(this.response).nonce\n        }\n    } \n    \n    transaction = document.getElementById(\"tx\").value\n    userid = document.getElementById(\"userid\").value\n    xhttp.open(\"GET\", \"distributeTransaction?transaction=\"+transaction+\"&userid=\"+userid+\"&transaction_prime=\"+transaction_prime, true)\n    xhttp.send()\n}\n\nfunction createTransactionHash() {\n    document.getElementById(\"status\").innerHTML = \"Hashing started\"\n  \n    \n       \n    \n    transaction = document.getElementById(\"tx\").value\n    userid = document.getElementById(\"userid\").value\n    n = document.getElementById(\"n\").value\n    e = document.getElementById(\"e\").value\n    \n    transaction_prime = enc(userid+':'+transaction,e,n)\n    \n    console.log(transaction)\n    console.log(transaction_prime)\n    \n    submitTransaction(transaction,transaction_prime, userid)\n\n\n}\n</script>\n<body>\n    <center>\n        <h1>NODEChain Transaction Creation and Submission tool</h1>\n\t   <table>\n            <tr>\n                <td>Transaction:</td>\n                <td><input type=\"text\" name=\"transaction\" id=\"tx\"></td>\n            </tr>\n            <tr>\n                <td>UserID:</td>\n                <td><input type=\"text\" name=\"userid\" id=\"userid\"></td>\n            </tr>\n            <tr>\n                <td>n:</td>\n                <td><input type=\"text\" name=\"n\" id=\"n\"></td>\n            </tr>\n            <tr>\n                <td>e:</td>\n                <td><input type=\"text\" name=\"e\" id=\"e\"></td>\n            </tr>\n           \n            <tr>\n                <td colspan=\"2\">\n                    <input type=\"button\" id=\"cth\" value=\"Submit\" onclick=\"createTransactionHash()\">\n                    \n                </td>\n            </tr>\n        </table>\n        <p id=\"status\"></p>\n    </center>\n</body>\n</html>","x":344,"y":720,"wires":[["97210f1.d61f5f"]]},{"id":"80726673.5f8e5","type":"debug","z":"c803e7.739fe418","name":"","active":true,"console":"false","complete":"false","x":329.5,"y":427,"wires":[]},{"id":"9a120e22.1a2438","type":"switch","z":"c803e7.739fe418","name":"","property":"payload.userid","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":270,"y":120,"wires":[["c3e7afe1.3447d8"],["fc6f6c8e.bb85e"]]},{"id":"c3e7afe1.3447d8","type":"function","z":"c803e7.739fe418","name":"check rsa","func":"var modexp = function(a, b, n) {\n  a = a % n;\n  var result = 1;\n  var x = a;\n\n  while(b > 0){\n    var leastSignificantBit = b % 2;\n    b = Math.floor(b / 2);\n\n    if (leastSignificantBit == 1) {\n      result = result * x;\n      result = result % n;\n    }\n\n    x = x * x;\n    x = x % n;\n  }\n  return result;\n};\n\n\nd = 611\nn = 899\n\n\nfunction dec(a) {\n    return a.map(function(char_id_enc) {\n        char_id = modexp(char_id_enc,d,n)\n        return char_id\n        }).map(function(c) {\n            return String.fromCharCode(c)\n    }).join(\"\")\n}\n\n\n\nuserid_transaction = dec(msg.payload.transaction_prime.split(',').map(function(x) {return parseInt(x)}))\nuser_id_tx = userid_transaction.split(':')[0]\nif (msg.payload.userid == user_id_tx) {\n//if ('romeo' == user_id_tx) {\n\tmsg.payload.status=\"accept\";\n} else {\n\tmsg.payload.status=\"reject\";\n\tmsg.payload.userid_transaction=userid_transaction;\n\tmsg.payload.user_id_tx=user_id_tx;\n\tmsg.payload.user_id_type=typeof(msg.payload.user_id)\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":100,"wires":[["79011660.916ce"]]},{"id":"79011660.916ce","type":"debug","z":"c803e7.739fe418","name":"","active":true,"console":"false","complete":"false","x":465.5,"y":48,"wires":[]},{"id":"23d263c8.dde8b4","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"21uc7z.internetofthings.ibmcloud.com","cleansession":true,"appId":"dummyappid","shared":false}]
